{% extends "base_django_private_chat2.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
<div class="chatbox__messages">
  <h2>Chat Box</h2>
  <div class="chatbox__messages__user-message" style="border: 1px solid black;">
    <ul>
      {% for message in data %}
          <li>{{ message }}</li>
          <div class="chatbox__messages__user-message--ind-message" style="border: 1px solid black;">
            <p class="name">{{ message.sender_username }}</p>
            <p class="message">{{ message.text }} - LU ?{{ message.read }}</p>
            <p>{{ message.sent|date:"SHORT_DATE_FORMAT" }} - {{ message.sent|time:"H:i" }}</p>
          </div>
      {% empty %}
          <p>Sorry, no message.</p>
      {% endfor %}
    </ul>
  </div>

  <form>
    <input type="text" placeholder="Enter your message">
  </form>
</div>
{% endblock %}